apiVersion: v1
kind: Service
metadata:
  name: grpcjava
  labels:
    app: grpcjava
    service: grpcjava
spec:
  ports:
    - port: 8080
      name: http
  selector:
    app: grpcjava
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: sa-grpcjava
  labels:
    account: grpcjava
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpcjava-v1
  labels:
    app: grpcjava
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grpcjava
      version: v1
  template:
    metadata:
      labels:
        app: grpcjava
        version: v1
    spec:
      serviceAccountName: sa-grpcjava
      containers:
        - name: grpcjava
          image: docker.io/yuyalive/grpcjava:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: tmp
              mountPath: /tmp
          securityContext:
            runAsUser: 1000
      volumes:
        - name: tmp
          emptyDir: {}
---
